/*
Theme Name: Gaga Lite
Theme URI: https://accesspressthemes.com/gaga-lite
Author: AccesspressThemes
Author URI: https://accesspressthemes.com/
Description: Gaga Lite is simple yet powerful free WP theme. The theme is fully built in customizer so you can build your website easy to use customizer options with live preview. The theme has option for multiple header layout, full screen slider, team layout, services layout, skills layout (counter), portfolio layout, client layout, testimonial layout, pricing table, blog layout, call to action, footer layout etc. You can change theme colors, typography and have full control over all layout components.The theme is responsive, translation ready, parallax, SEO friendly and easily customizable. Basically Gaga Lite is a multipurpose WordPress Theme that helps you to create a beautiful website in no time. View full demo here: http://accesspressthemes.com/theme-demos/?theme=gaga-lite
Version: 1.0.7
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.html
Text Domain: gaga-lite
Tags: right-sidebar, left-sidebar, fluid-layout, custom-background, featured-image-header, sticky-post, threaded-comments, featured-images, full-width-template, responsive-layout, custom-colors, translation-ready


This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Gaga Lite is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v3 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
--------------------------------------------------------------

# Normalize

--------------------------------------------------------------*/

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
a:active,
a:hover {
    outline: 0;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
    color: #E01428;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: border-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
/*--------------------------------------------------------------

# Typography

--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
    color: #404040;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    clear: both;
}
dfn,
cite,
em,
i {
    font-style: italic;
}
blockquote {
    margin: 0 1.5em;
}
address {
    margin: 0 0 1.5em;
}
pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}
code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}
abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}
big {
    font-size: 125%;
}
/*--------------------------------------------------------------

# Elements

--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    
    box-sizing: inherit;
}
body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}
blockquote,
q {
    quotes: "" "";
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}
ul,
ol {
    margin: 0 0 15px 3em;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 15px;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 1.5em 1.5em;
}
img {
    height: auto;
    /* Make sure images are scaled correctly. */
    
    max-width: 100%;
    /* Adhere to container width. */
}
.header_logo img {
    max-height: 65px;
}
table {
    margin: 0 0 1.5em;
    width: 100%;
}
/*--------------------------------------------------------------

# Forms

--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, .8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #d9d9d9;
    border: 2px solid #cccccc;
    border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 3px;
}
textarea {
    padding-left: 3px;
    width: 100%;
}
/*--------------------------------------------------------------

# Navigation

--------------------------------------------------------------*/
/*--------------------------------------------------------------

## Links

--------------------------------------------------------------*/

a {
    color: #e01428;
}
a:visited {
    color: #e01428;
}
a:focus {
    outline: none;
    border: none;
}
a:hover,
a:active {
    outline: 0;
}
/*--------------------------------------------------------------

## Menus

--------------------------------------------------------------*/

.my_class_pages .onee {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
/*
.plx_about_section{
    padding-top:198px !important;
}
*/

.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
    background: #ffffff;
    z-index: 999;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}
.innerr_header,
.top_inner_header {
    padding: 0px;
}
.main-navigation {
    display: inline-block;
    width: 100%;
    float: right;
    padding-top: 23px;
    padding-bottom: 23px;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.main-navigation li {
    float: left;
    position: relative;
}
.main-navigation a {
    display: block;
    text-decoration: none;
}
.main-navigation ul ul {
    padding: 10px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.8);
}
.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}
.main-navigation ul ul a {
    width: 200px;
}
.main-navigation ul ul li {
    text-align: left;
}
.main-navigation li:hover > a,
.main-navigation li.focus > a {} .main-navigation ul ul:hover > a,
.main-navigation ul ul .focus > a {} .main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {} .main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}
.main-navigation .current a {
    color: #ec1b2e !important;
}
/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}
.menu-toggle {
    display: none;
}
@media screen and (min-width: 37.5em) {
    .main-navigation ul {
        display: block;
    }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
    line-height: 0;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
.main-navigation .menu-menu-1-container,
.main-navigation .nav {
    float: none;
    padding-right: 5px;
    padding-top: 3px;
}
.main-navigation ul.sub-menu>li a {
    text-transform: capitalize;
}
/*--------------------------------------------------------------

# Accessibility

--------------------------------------------------------------*/
/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}
/*--------------------------------------------------------------

# Alignments

--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------------------------------------------------

# Clearings

--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}
/*--------------------------------------------------------------

# Widgets

--------------------------------------------------------------*/

.widget {
    margin: 0 0 1.5em;
}
/* Make sure select elements fit in widgets. */

.widget select {
    max-width: 100%;
}
/* Search widget. */

.widget_search .search-submit {
    display: none;
}
/*--------------------------------------------------------------

# Content

--------------------------------------------------------------*/
/*--------------------------------------------------------------

## Posts and pages

--------------------------------------------------------------*/

.sticky {
    display: block;
}
.hentry {
    margin: 0 0 1.5em;
}
.byline,
.updated:not(.published) {
    display: none;
}
.single .byline,
.group-blog .byline {
    display: inline;
}
.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}
.page-links {
    clear: both;
    margin: 0 0 1.5em;
}
/*--------------------------------------------------------------

## Asides

--------------------------------------------------------------*/

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}
/*--------------------------------------------------------------

## Comments

--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}
.bypostauthor {
    display: block;
}
/*--------------------------------------------------------------

# Infinite scroll

--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
/* Older / Newer Posts Navigation (always hidden) */

.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    
    display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
    display: block;
}
/*--------------------------------------------------------------

# Media

--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    max-width: 100%;
}
/*--------------------------------------------------------------

## Captions

--------------------------------------------------------------*/

.wp-caption {
    margin: 0;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
}
.wp-caption-text {
    text-align: center;
}
.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}
/*--------------------------------------------------------------

## Galleries

--------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.5em;
}
.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-caption {
    display: block;
}
/*====================Body Section Start ==========================*/

* {
    margin: 0px;
    padding: 0px;
    word-wrap: break-word;
}
.clearfix:before,
.clearfix:after,
.comment-metadata:before,
.comment-metadata:after {
    content: "";
    display: table;
}
.clearfix:after,
.clearfix:after,
.comment-metadata:before,
.comment-metadata:after {
    clear: both;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
}
a {
    display: inline-block;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.ak-container {
    width: 960px;
    margin: 0px auto;
}
.ak-container2 {
    width: 1100px;
    margin: 0px auto;
}
/*==================Banner Slider Section Open=========*/

.portfolio_slider_image {
    margin: 0;
}
.gaga_lite_slider li {
    line-height: 0;
}
.slider_area .gaga_lite_slider .bx-pager.bx-default-pager {
    position: absolute;
    /* width: 960px; */
    /* margin: 0 auto; */
    /* position: static; */
    
    bottom: 50px;
    right: 0px;
    width: auto;
}
.gaga_lite_slider {
    text-align: center;
}
.gaga_lite_slider img {
    display: inline-block !important;
    width: 100%;
}
.bxslider {
    margin-left: 0px;
}
.slider_area .gaga_lite_slider {
    position: relative;
}
.slider_area .gaga_lite_slider span.next-page {
    position: absolute;
    bottom: 50px;
    text-align: center;
    z-index: 9;
}
.slider_area .gaga_lite_slider span.next-page a {
    position: relative;
    -webkit-animation: next-page 2s linear 3s infinite alternate;
    /* Chrome, Safari, Opera */
    
    animation: next-page 2s linear 3s infinite alternate;
    color: #ed1b2f;
    font-size: 35px;
    font-weight: bold;
}
/* Chrome, Safari, Opera */

@-webkit-keyframes next-page {
    0% {
        top: 0px;
    }
    100% {
        top: 20px;
    }
}
/* Standard syntax */

@keyframes next-page {
    0% {
        top: 0px;
    }
    100% {
        top: 20px;
    }
}
.slider_area .gaga_lite_slider .bx-controls.bx-has-pager {
    position: relative;
    width: 960px;
    margin: 0 auto;
}
.slider_area .gaga_lite_slider .bx-pager.bx-default-pager .bx-pager-item {
    display: inline-block;
}
.slider_area .gaga_lite_slider .bx-pager.bx-default-pager .bx-pager-item a.bx-pager-link {
    display: inline-block;
    width: 30px;
    border-bottom: 5px solid #000000;
    color: #000000;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    margin: 0px;
    margin-left: 5px;
    border-radius: 0px;
    text-indent: 0px;
    background: none;
    height: auto !important;
}
.slider_area .gaga_lite_slider .bx-pager.bx-default-pager .bx-pager-item a.bx-pager-link.active {
    border-bottom: 5px solid #ed1b2f;
    color: #ed1b2f;
    font-weight: 500;
}
.slider_area .gaga_lite_slider .slider_capation {
    position: absolute;
    bottom: 100px;
    left: 0px;
    text-align: right;
    width: 100%;
}
.slider_area .gaga_lite_slider .slider_capation .slider_title,
.slider_area .gaga_lite_slider .slider_capation .slider_content {
    color: #0e0000;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 800;
    text-transform: uppercase;
}
.slider_area .gaga_lite_slider .slider_capation .slider_title{
    font-size: 45px;
}
.slider_area .gaga_lite_slider .slider_capation .slider_content{
    font-size: 31px;
}

.slider_area .gaga_lite_slider .slider_capation .slider_content span.highlite {
    color: #ed1b2f;
}
div.highlite {
    color: #ed1b2f;
}
/*==================Banner Slider Section Close=========*/
/*==================Logo & Navigation Section Open=========*/

.site-header .ak-container {
    position: relative;
}
.site-header .ak-container .header_logo {
    float: left;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
    overflow: hidden;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    line-height: 0;
}
.site-header .ak-container .header_logo a {
    line-height: 0;
}
.header_logo_outer {
    display: table;
    width: 100%;
    height: 100%;
}
.header_logo_outer a {
    display: table-cell;
    vertical-align: middle;
}
.main-navigation ul {
    text-align: right;
    display: block;
    margin: 0px;
    padding: 0px;
}
.main-navigation ul>li {
    float: none;
    display: inline-block;
}
.main-navigation ul>li a {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: normal;
    padding: 0px 10px;
}
.main-navigation ul.nav >li:first-child a {
    padding-left: 0px;
}
.main-navigation ul>li a:hover,
.main-navigation ul>li.active a {
    color: #ec1b2e;
}
.site-title {
    margin: 0px;
}
#toggle {
    float: right;
    width: 28px;
    height: 30px;
    margin: 22px auto;
    cursor: pointer;
}
#toggle.on div {
    background: #000000;
}
#toggle div {
    width: 100%;
    height: 5px;
    background: #ffffff;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
#toggle.on div {
    background: #ffffff;
}
#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on .two {
    opacity: 0;
}
#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}
#menu {
    position: absolute;
    right: 30px;
    width: 92%;
    text-align: center;
    margin: auto;
}
.menu-on-top #menu {
    bottom: 0px;
    right: 50px;
}
.menu-on-right #menu {
    bottom: 0;
    right: 0;
    width: 0px;
    overflow: hidden;
}
/*==================Logo & Navigation Section Close=========*/
/*==================About Us Section Open=========*/

#plx_about_section {
    padding: 140px 0px;
    position: relative;
}
#plx_about_section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.5;
    z-index: 0;
}
#plx_about_section .ak-container {
    position: relative;
}
#plx_about_section,
#plx_testimonial_section {
    background-size: cover !important;
    background-attachment: fixed !important;
}
#plx_testimonial_section .bx-pager-item {
    display: inline-block;
    margin-left: 10px;
}
#plx_about_section .combine {
    float: left;
    width: 50%;
    padding-right: 30px;
}
#plx_about_section .combine .about_title {
    font-size: 56px;
    line-height: 56px;
    color: #ed1b2f;
    font-weight: 700;
    text-transform: uppercase;
}
#plx_about_section .combine_content {
    padding-top: 80px;
    width: 50%;
    float: right;
}
#plx_about_section .combine_content .about-contents {
    color: #010101;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}
#plx_about_section .combine_content .buy {
    text-align: right;
}
#plx_about_section .combine_content .buy a {
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
    color: #ffffff;
    background: #ed1b2f;
    padding: 0px 30px;
    text-align: center;
    text-transform: capitalize;
}
h2.about_section_title {
    text-align: left !important;
}
/*==================About Us Section Close=========*/
/*==================Our Services Us Section Open=========*/

#plx_service_section {
    background-size: cover !important;
    background-attachment: fixed !important;
}
.service_section,
.team_section,
.skill_section,
.blog_section,
.portfolio_section,
#plx_client_section,
.pricing_section {
    padding: 80px 0px;
}
h2.about_section_title,
.service_section_title h2,
.team_section h2,
.blog_sectio_title h2,
.blog_latest_post h2,
.portfolio_section h2,
.skill_section_title h2,
.client_section_title h2,
.pricing_section h2,
.cta_section_title h2,
.testimonial-title h2 {
    color: #ed1b2f;
    font-size: 56px;
    line-height: normal;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}
.cta_section_title h2 {
    text-align: center !important;
    margin-bottom: 8px;
}
.cta_btn_link a{
    margin-top: 13px !important;
}
h2.about_section_title span,
.service_section_title h2 span,
.team_section h2 span,
.blog_sectio_title h2 span,
.blog_latest_post h2 span,
.portfolio_section h2 span,
.skill_section_title h2 span,
.client_section_title h2 span,
.pricing_section h2 span,
.cta_section_title h2 span,
.testimonial-title h2 span {
    display: block;
    color: #0e0000;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 18px;
}
#plx_service_section .service-posts {
    position: relative;
    margin: 95px 0px;
}
#plx_service_section .service-posts:before {
    width: 60px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
}
#plx_service_section .service-posts-wrap {
    width: 50%;
    display: inline-block;
    padding: 40px 0px;
}
#plx_service_section .service-posts-wrap:nth-child(odd) {
    border-right: 1px solid #ed1b2f;
    float: left;
}
#plx_service_section .service-posts-wrap:nth-child(even) {
    float: right;
}
#plx_service_section .service-posts-wrap:first-child,
#plx_service_section .service-posts-wrap:nth-child(2) {
    border-bottom: 1px solid #ed1b2f;
}
#plx_service_section .service-posts-wrap .service_title,
#plx_service_section .service-posts-wrap .services-excerpt-content {
    float: right;
    width: 80%;
    padding-left: 20px;
    padding-right: 70px;
}
#plx_service_section .service-posts-wrap:nth-child(even) .service_title,
#plx_service_section .service-posts-wrap:nth-child(even) .services-excerpt-content {
    float: left;
    padding-right: 20px;
    padding-left: 70px;
    text-align: right;
}
#plx_service_section .service-posts-wrap .service_title a h3 {
    font-weight: 500;
    color: #ed1b2f;
    font-size: 20px;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 10px;
}
#plx_service_section .service-posts-wrap .services-excerpt-content {
    color: #44495e;
    font-size: 15px;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
}
#plx_service_section .service-posts-wrap .service_image {
    float: left;
    width: 20%;
}
#plx_service_section .service-posts-wrap:nth-child(even) .service_image {
    float: right;
}
#plx_service_section .service-posts-wrap .service_image figure img {
    border-radius: 100%;
    background: #ED1B2F;
}
#plx_service_section .service-posts-wrap .service_image figure {
    margin: 0px;
    margin-left: 10px;
}
#plx_service_section .service-posts-wrap:nth-child(even) .service_image figure {
    margin: 0px;
    margin-right: 10px;
}
#plx_service_section .service-descr {
    color: #373737;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    max-height: 75px;
    overflow: hidden;
    font-weight: 500;
}
/*==================Our Sercives Section Close=========*/
/*==================Our Team Section Open=========*/

.team_title {
    margin-bottom: 50px;
}
.team_section {
    text-align: center;
}
ol.children {
    list-style: none;
}
.team_section .team_slider {
    position: relative;
}
#plx_team_section .nbs-flexisel-nav-left {
    background: url("images/team_left.png") no-repeat scroll center center !important;
    left: 0;
    top: 50% !important;
    margin-top: -11px;
}
#plx_team_section .nbs-flexisel-nav-right {
    background: url("images/team_right.png") no-repeat scroll center center !important;
    right: 0;
    top: 50% !important;
    margin-top: -11px;
}
#plx_team_section .nbs-flexisel-container {
    text-align: center;
}
#plx_team_section .nbs-flexisel-inner {
    width: 90%;
    float: none;
    margin: 0 auto;
    border: none;
    background: transparent;
    display: inline-block;
}
#plx_team_section .nbs-flexisel-item a {
    display: block;
}
#plx_team_section .nbs-flexisel-item .team_inner {
    display: block !important;
    position: relative !important;
    line-height: 0px !important;
    overflow: hidden;
}
#plx_team_section .team_image {
    width: 100% !important;
    height: auto !important;
    -webkit-transition: all 2s ease 0s;
    -moz-transition: all 2s ease 0s;
    transition: all 2s ease 0s;
}
#plx_team_section .nbs-flexisel-item:hover .team_image {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
#plx_team_section .nbs-flexisel-item .team_cover {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0px;
    left: 0px;
    display: inline-block;
}
#plx_team_section .nbs-flexisel-item .team_cover::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(images/geek2.png) no-repeat !important;
    background-size: cover !important;
    z-index: 2 !important;
    top: 0px;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
#plx_team_section .nbs-flexisel-item .team_cover::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25) !important;
    background-size: cover !important;
    z-index: 2 !important;
    top: 0px;
    opacity: 0;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
#plx_team_section .nbs-flexisel-item:hover .team_cover::before {
    transform: scale(5);
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
#plx_team_section .nbs-flexisel-item:hover .team_cover::after {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
#plx_team_section .nbs-flexisel-item .team_name {
    position: absolute !important;
    width: 100% !important;
    bottom: -20px;
    display: block;
    text-align: center;
    color: #000000;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 300;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
#plx_team_section .nbs-flexisel-item:hover .team_name {
    bottom: 20px;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    color: #ffffff !important;
    z-index: 9;
}
.team-post-wrap .owl-item {
    width: 230px !important;
}
.team_section .team-descr {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #ed1b2f;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    text-align: center;
    width: 528px;
    display: inline-block;
}
/*==================Our BLog Section Open=========*/

.blog_latest_post h2,
.blog_sectio_title h2 {
    text-align: left !important;
    margin-bottom: 20px;
}
.blog_main_post {
    float: left;
    width: 69.799%;
}
.blog_sectio_title h2 {
    text-align: left !important;
}
.blog_latest_post h2 {
    text-align: left !important;
}
.blog_image figure,
.blog-posts-wrap-latest figure {
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}
.blog_image figure img,
.blog-posts-wrap-latest figure img {
    width: 100%;
}
.blog_title a h3,
.blog-posts-wrap-latest a h3 {
    font-size: 18px;
    line-height: 18px;
    color: #ed1b2f;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 30px;
}
.blog-posts-wrap-latest a h3 {
    font-size: 16px;
}
.blog-posts-wrap-latest a h3 {
    margin-top: 15px;
}
.blog_date_main {
    margin-bottom: 5px;
}
.blog_date_main,
.blog_date_sub {
    color: #a0a9b6;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
.blog_date_sub {
    margin-bottom: 15px;
}
.blog_main_post .blogs-excerpt-content {
    font-size: 15px;
    line-height: 24px;
    color: #44495e;
    font-weight: 500;
    text-align: justify;
    height: 140px;
    overflow: hidden;
}
#plx_about_section .combine_content .buy a,
.blog_read_more a,
.team-post-wrap>a,
a.view_all_latest,
.portfolio_view_all a,
.cta_btn_link a,
.inner .arcive_read_more a,
input.wpcf7-submit,
#respond .form-submit input {
    margin: 15px 0px;
    display: inline-block;
    background: #ed1b2f;
    padding: 0px 30px;
    font-weight: 500;
    font-size: 17px;
    line-height: 50px;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    border: 2px solid transparent !important;
}
a.view_all_latest {
    float: right;
    margin: 0px;
}
.blog_latest_post a.read_more,
.comment-metadata .edit-link a {
    float: right;
}
.blog_latest_post a.read_more,
.reply a,
.comment-metadata .edit-link a {
    display: inline-block;
    line-height: 24px;
    background: #ed1b2f;
    padding: 0px 5px;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    border: 1px solid transparent;
    text-transform: uppercase;
}
#plx_about_section .combine_content .buy a:hover,
.blog_read_more a:hover,
.team-post-wrap>a:hover,
.blog_latest_post a.read_more:hover,
.comment-metadata .edit-link a:hover,
.reply a:hover,
a.view_all_latest:hover,
.portfolio_view_all a:hover,
.cta_btn_link a:hover,
.inner .arcive_read_more a:hover,
.inner #respond .form-submit input:hover,
input.wpcf7-submit:hover {
    border-color: #ea1e30 !important;
    color: #ea1e30 !important;
    background: transparent !important;
    box-shadow: none !important;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.blog-posts .main_like_comment,
.inner .main_like_comment,
.blog-posts-wrap-latest .sub_like_comment {
    clear: left;
    font-size: 15px;
    color: #a0a9b6;
    line-height: 30px;
    font-weight: 500;
}
.inner .main_like_comment {
    margin-bottom: 20px;
}
.comment-list {
    list-style: none;
    margin: 0;
}
.comment-list li {
    padding: 20px 10px 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
}
.comment-list li .comment-body {
    margin-bottom: 5px;
}
.comment-list li ol {
    margin: 0px 0 0 10px;
}
.comment-list li ol li {
    box-shadow: none;
    background: none;
    border: 0;
}
.comment-list li ol li .comment-body {
    margin-bottom: 20px;
}
.comment-list li ol li ol li {
    margin-bottom: 0px;
    padding: 5px;
}
.comment-list li ol li ol li .comment-body {
    margin-bottom: 20px;
    padding: 5px;
}
.comment-list li ol li ol li ol li .comment-body {
    margin-bottom: 20px;
}
.comment-list li ol li ol li ol li ol li {
    margin-bottom: 0px;
}
.comment-list li ol li ol li ol li .coment-body {
    margin-bottom: 15px;
}
.inner #respond .form-submit input {
    line-height: 35px;
    margin: 0px;
}
.blog-posts-wrap-latest .sub_like_comment {
    display: inline-block;
    float: left;
}
.blog-posts .main_like_comment span,
.inner .main_like_comment span,
.blog-posts-wrap-latest .sub_like_comment span {
    color: #ffffff;
    display: inline-block;
    background: #ed1b2f;
    width: 30px;
    height:30px;
    line-height:30px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    float: left;
}
/*==================Our BLog Section Close=========*/
/*==================extra syle open=========*/

span.tags-links {
    color: #ed1b2f;
}
/*==================extra syle close=========*/
/*==================Our Latest BLogs Section Open=========*/

.blog_latest_post {
    float: right;
    width: 24.6%;
}
.blog-posts-wrap-latest {
    margin-bottom: 34px;
}
/*==================Our Latest BLogs Section Close=========*/
/*==================Our Skills Section Open=========*/

#plx_skill_section {
    background-repeat: no-repeat;
}
.skill_section {
    padding: 110px 0px;
}
.prog {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 60px;
}
/*==================Our Skills Section Close=========*/
/*==================Our Portfolio Section Open=========*/

.portfolio-post-wrap {
    float: left;
    width: 25%;
    padding: 100px 15px;
}
.portfolio-positing {
    position: relative;
    margin: 0px;
    line-height: 0px;
    overflow: hidden;
}
.portfolio_image {
    line-height: 0px;
}
.portfolio-positing img {
    width: 100%;
    -webkit-transition: all 2s ease 0s;
    -moz-transition: all 2s ease 0s;
    transition: all 2s ease 0s;
}
.portfolio-positing:hover img {
    transform: scale(1.3);
}
.portfolio_main {
    position: absolute;
    top: 100%;
    padding: 15px;
    left: 0px;
    width: 100%;
    height: 0%;
    line-height: normal;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all 3s ease 0s;
    -moz-transition: all 3s ease 0s;
    transition: all 3s ease 0s;
}
.portfolio_main .portfolio_content a {
    padding: 45px 0px;
    font-weight: 300;
    color: #ffffff;
}
.portfolio_main a h3 {
    font-size: 17px !important;
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: 400;
}
.portfolio-positing:hover .portfolio_main {
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(241, 73, 89, 0.88);
    cursor: pointer;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.portfolio_view_all {
    text-align: center;
}
.portfolio_view_all a {
    margin: 0px;
}
/*==================Our Portfolio Section Close=========*/
/*==================Client Section Open=========*/

.client_section_title {
    margin-bottom: 50px;
}

.client-posts .item {
    text-align: center;
}
.client-posts .nbs-flexisel-container {
    position: relative;
    text-align: center !important;
    max-width: 100%;
}
.client-posts .nbs-flexisel-inner {
    width: 90%;
    float: none;
    display: inline-block;
}
.client-posts .item img {
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: 52px;
}
.client-posts .nbs-flexisel-inner {
    background: none;
    border: none;
}
.client-posts .nbs-flexisel-nav-right {
    right: 0px !important;
    top: 15px !important;
}
.client-posts .nbs-flexisel-nav-left {
    left: 0px !important;
    top: 15px !important;
}
/*==================Client Section Close=========*/
/*==================Pricing Section Open=========*/

.pricing_widget.clearfix {
    margin-left: -15px;
    margin-top: 50px;
}
.widget_gaga_lite_pricing {
    float: left;
    width: 25%;
}
.widget_gaga_lite_pricing>a {
    display: block;
}
.pricing_section ul {
    margin: 0px !important;
    padding: 0px !important;
    list-style: none !important;
}
.gaga-pricing-table {
    margin-left: 15px;
    background: #EBEBEB;
    text-align: center;
    position: relative;
    margin-top: 60px;
    padding-top: 88px;
    font-size: 18px;
    color: #000000;
    font-weight: 300;
    line-height: 0px;
    text-transform: capitalize;
}
.gaga-pricing-head {
    position: absolute;
    top: -58px;
    width: 100%;
    z-index: 1;
}
.per_tex {
    margin-top: -82px;
}
.fill {
    fill: #EA1E30;
}
.gaga-price-box,
.gaga-pricing-features-inner {
    line-height: 28px;
}
.per_tex>.percent {
    height: 100%;
    color: #ffffff !important;
    font-weight: 700;
    line-height: initial;
    text-transform: lowercase;
}
.percent span {
    font-size: 30px;
    line-height: normal;
    display: inline-block;
}
span.gaga-pricing-plan-sub-text {
    color: #ec1b2e;
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
    display: inline-block;
    line-height: normal;
}
li span.sign-up {
    margin-top: 30px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(images/sign_up.png) center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.widget_footer {
    display: inline-block;
    width: 100%;
    height: 41px;
    background: url(images/pricing_btn.png) center;
    background-color: #ffffff;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.widget_gaga_lite_pricing {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-top: 0px;
    margin-bottom: 0;
}
.widget_gaga_lite_pricing:hover {
    margin-top: -5px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.widget_gaga_lite_pricing>a:hover .widget_footer {
    background: url(images/pricing_btn2.png) center;
    background-color: #ffffff;
    display: inline-block;
    width: 100%;
    height: 41px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.pricing_widget .sign_up_price {
    margin: 10px 0px;
    margin-top: 20px;
    display: inline-block;
    line-height: 44px;
    background: #ea1e30;
    padding-left: 10px;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    padding-right: 70px;
    border: 1px solid transparent;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.pricing-read a {
    position: relative;
}
.pricing-position-outer {
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
    height: 100%;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.pricing-position-inner {
    position: relative;
    height: 100%;
    padding: 6px;
}
.pricing-position-inner:before {
    content: "\f0d9";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: -5px;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.pricing_widget .sign_up_price:hover {
    border-color: #ea1e30;
    color: #ea1e30;
    background: #ffffff !important;
}
.pricing_widget .sign_up_price:hover .fill {
    fill: #ffffff !important;
}
.pricing_widget .sign_up_price:hover .pricing-position-inner:before {
    color: #ea1e30;
}
.pricing_widget .sign_up_price:hover .pricing-position-outer {
    background: #ea1e30;
}
/*==================Pricing Section Close=========*/
/*==================MAC Section Open=========*/

#plx_cta_section {
    padding: 100px 0px;
    background-size: cover !important;
    background-attachment: fixed !important;
}
.cta_section_view {
    position: relative;
}
.cta_image {
    position: absolute;
    top: -55px;
    left: -60px;
}
.cta_desc {
    text-align: center;
}
.cta_section_title h2 {
    font-size: 50px;
    text-align: right;
}
/*==================MAC Section Close=========*/
/*==================Testinomial Section Open=========*/

.testimonial_section .bx-wrapper .bx-pager.bx-default-pager a {
    border-radius: 0px;
    width: 20px;
    height: 3px;
    background: #dddddc;
    text-indent: 9999999999999999px;
}
.testimonial_section .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #ed1b2f;
}
.testimonial_section {
    text-align: center;
    overflow: hidden;
}
.testimonial_view {
    margin: 80px 0px;
}
.testimonial-title h2 {
    margin-bottom: 55px;
}
.bxslider_testimonial .test_image,
.bxslider_testimonial .slider_title {
    padding: 0px 5px;
}
.bxslider_testimonial .slider_capation {
    position: relative;
}
.bxslider_testimonial .image_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
}
.bxslider_testimonial .slider_content {
    float: right;
    width: 75%;
    text-align: left;
}
.bxslider_testimonial .slider_content p,
.bxslider_testimonial .slider_title {
    font-weight: 300;
    font-size: 16px !important;
    line-height: 24px;
    color: #000000;
}
.bxslider_testimonial img {
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    padding: 2px;
    border: 1px solid #B1AFAF;
}
ul.bxslider_testimonial,
ol.bxslider_testimonial {
    margin: 0px !important;
}
.bxslider_testimonial .bx-pager-item {
    display: inline-block;
}
.bxslider_testimonial .bx-pager-item a.active {
    background-color: #ed1b2f;
}
.bxslider_testimonial .bx-pager-item a {
    text-indent: -9999px;
    width: 30px;
    height: 5px;
    background-color: #dddddc;
    margin: 0px 5px;
}
.bxslider_testimonial .bx-pager-item a::before {
    content: "";
}
/*==================Testinomial Section Close=========*/
/*==================COntact Us Section Open=========*/

.site-footer {
    margin: 80px -15px;
}
.footer_1 {
    float: left;
    width: 45%;
    display: inline-block;
    padding: 0px 15px;
}
.footer_widget_view .contact_title {
    color: #ed1b2f;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.footer_widget_view .widget-title {
    font-size: 15px;
    color: #010101;
    text-transform: uppercase;
    border: none !important;
    margin: 0px !important;
    line-height: normal !important;
    font-weight: normal !important;
}
hr.border {
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #ed1b2f;
    margin-left: 5px;
    margin-bottom: 0px;
}
.contact_desc {
    font-size: 14px;
    color: #373543;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 15px;
}
.contact_aside {
    float: left;
    width: 50%;
}
.contact_sub_title {
    color: #556b72;
    font-size: 11.64px;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.footer_2 {
    float: left;
    width: 30%;
    display: inline-block;
    padding: 0px 15px;
}
.footer_3 {
    float: left;
    width: 25%;
    display: inline-block;
    padding: 0px 15px;
}
.wpcf7 form span input,
.wpcf7 form span textarea {
    width: 100% !important;
    border-color: #e8f1f4;
    border-radius: 0px;
    padding: 5px;
    font-size: 14px;
    color: #000000;
    outline: none;
}
.wpcf7 form span textarea {
    height: 100px !important;
    outline: none;
}
.wpcf7 form p {
    font-size: 11px;
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
}
input.wpcf7-submit {
    display: inline-block;
    width: auto !important;
    border-radius: 0px;
    border: 2px solid transparent !important;
    box-shadow: none;
    float: right;
}
.aptf-template-3 .aptf-single-tweet-wrapper {
    border: none;
    border-radius: 00px;
    clear: both;
    color: #313537;
    font-size: 12px;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.aptf-tweet-content>a {
    color: #ed1b2f !important;
    display: block;
}
.aptf-timestamp>a {
    color: #8b9398 !important;
    font-size: 12px !important;
}
/*==================COntact Us Section Close=========*/
/*==================Footer Section Open=========*/

.main_footer {
    border-top: 9px solid #ed1b2f;
    padding: 25px 0px;
    font-size: 13.5px;
    color: #a0a9b6;
    text-transform: capitalize;
}
.social_link_footer {
    float: right;
    width: 50%;
    text-align: right;
}
.site-info a:hover {
    color: red;
}
.site-info a {
    color: #a0a9b6;
}
.aps-icon-link img {
    border: none !important;
}
/*==================Footer Section Close=========*/
/*==================Inner Page Section Open=========*/

.site-content {
    background: #f5f5f5;
}
.sidebar_background {} .inner_content_background,
.sidebar_background aside {
    background: #ffffff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    padding: 15px;
}
.inner_header {
    background-size: cover;
    position: relative;
    text-align: center;
    color: #ed1b2f;
    background-attachment: fixed;
    height: 170px;
    overflow: hidden;
}
.inner_header .title_background img {
    width: 100%;
}
.inner_header .title_background {
    line-height: 0px;
}
.inner_header>h1,
.page-header>h1.page-title {
    position: absolute;
    top: 50%;
    font-size: 50px !important;
    width: 100%;
    text-align: center;
    color: #ffffff !important;
    margin: 0px;
    padding: 0px;
    line-height: 0px !important;
}
.img-responsive {
    width: 100%;
}
.content-area-no {
    width: 100% !important;
    float: none !important;
}
.content-area-left {
    float: right !important;
}
.content-area {
    float: left;
    width: 66.66%;
    padding: 0px 15px;
}
.content-area-both {
    float: left;
    width: 50%;
    padding: 0px 15px;
    position: relative;
    left: 25%;
}
.widget-area {
    position: relative;
    top: 0;
    height: 100%;
    padding: 0px 15px;
}
.widget-area-left {
    float: left;
    width: 33.33%;
}
.widget-area-left-both {
    float: left;
    width: 25%;
    position: relative;
    right: 50%;
}
.widget-area-right {
    float: right;
    width: 33.33%;
}
.widget-area-right-both {
    float: right;
    width: 25%;
}
.widget-area-inner {
    width: 100%;
}
.inner {
    margin-top: 30px;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}
.inner h2.entry-title {
    color: #ed1b2f;
    font-size: 24px !important;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
}
/*
.blog_social_share_outer{
    text-align:center;
}
.blog_social_share_inner{
    display: inline-block;
}
*/

#secondary .widget_search input.search-field {
    width: 100%;
    border: none;
    background: #eee;
    border-radius: 0;
    outline: 0;
    border-bottom: 2px solid #ED1B2F;
}
/*==================Inner Page Section Close=========*/
/*==================Inner Page Next/Previous Button Section Open=========*/

.nav-previous a,
.nav-next a,
.archive_pagination a,
.archive_pagination span.current {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    background: #ed1b2f;
    color: #ffffff;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 98%;
    text-transform: capitalize;
    border: 1px solid transparent;
}
.nav-previous a:before,
.archive_pagination a.prev:before {
    left: 5px;
    content: "\f060";
}
.nav-next a:before,
.archive_pagination a.next:before {
    right: 5px;
    content: "\f061";
}
.nav-previous a:before,
.nav-next a:before,
.archive_pagination a:before {
    position: absolute;
    font-family: "FontAwesome";
    color: #ffffff;
    top: 0;
}
.nav-previous a:hover:before,
.nav-next a:hover:before,
.archive_pagination a:hover:before {
    color: #ed1b2f;
}
.nav-previous a:hover:after,
.nav-next a:hover:after,
.archive_pagination a.prev:hover:after,
.archive_pagination a.next:hover:after {
    background: #ed1b2f;
    opacity: 0.3;
}
.nav-previous a:after,
.nav-next a:after,
.archive_pagination a.prev:after,
.archive_pagination a.next:after {
    background: #ffffff;
    opacity: 0.3;
    height: 96px;
    width: 80px;
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    content: "";
    top: 0;
}
.nav-previous a:after,
.archive_pagination a.prev:after {
    left: 15px;
    top: -25px;
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    transform: rotate(70deg);
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
}
.archive_pagination a.prev:after {
    left: 5px;
}
.nav-next a:after,
.archive_pagination a.next:after {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    transform: rotate(20deg);
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    content: "";
    top: -50px;
    right: -70px;
}
.archive_pagination a.next:after {
    top: -55px;
    right: -85px;
}
.archive_pagination {
    text-align: center;
    margin: 20px 0px;
}
.archive_pagination a.prev {
    padding-left: 25px;
    float: left;
}
.archive_pagination a.next {
    padding-right: 25px;
    float: right;
}
.archive_pagination span.current {
    background: #E87689;
    color: #000000;
}
.nav-previous a {
    padding-left: 40px;
}
.nav-next a {
    padding-right: 40px;
}
.nav-links a:hover,
.archive_pagination a:hover {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
    background: #ffffff !important;
    color: #ed1b2f !important;
    border: 1px solid #ed1b2f !important;
}
/*==================Inner Page Next/Previous Button Section Close=========*/
/*==================Inner Page Comment Open=========*/
/*--Comment Form Css--*/

.fn,
.fn a {
    text-transform: capitalize;
}
.comments-title:after {
    display: none;
}
.comment-awaiting-moderation {
    margin-bottom: 0px;
    text-align: right;
    font-size: 14px;
    color: #E41428;
    font-weight: bold;
    font-style: italic;
}
.comments-title span {
    color: #000000;
}
h2.comments-title {
    margin: 0;
    padding: 0;
    line-height: normal;
    border-left: 3px solid #ED1B2F;
    padding-left: 5px;
    position: relative;
    margin-bottom: 20px;
    color: #5a5a5a;
    font-size: 16px !important;
    font-weight: 700;
    overflow: hidden;
}
.comment-form p {
    display: block;
    float: none;
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}
.comment-form p.form-submit {
    text-align: center;
}
.comment-form p label {
    display: inline-block;
    width: 100px;
    font-size: 16px;
    line-height: 24px;
    color: #7f7e7e;
}
#respond .comment-form-author input,
#respond .comment-form-author input:focus,
#respond .comment-form-email input:focus,
#respond input:focus,
#respond .comment-form-email input,
#respond input {
    border: none;
    border-bottom: 2px solid #e4e4e4;
    display: inline-block;
    outline: none;
    width: 100%;
    height: 40px;
    border-radius: 0px;
}
.inner #respond textarea {
    outline: none;
    display: inline-block;
    width: 100% !important;
    background: transparent!important;
    border: 2px solid rgba(224, 224, 224, 0.41);
    border-radius: 0px;
    height: 195px !important;
}
.form-allowed-tags,
.comment-notes {
    display: none !important;
}
#respond .form-submit input {
    display: inline-block;
    width: auto !important;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    display: inline-block;
    height: auto !important;
}
#respond input#submit:hover {
    background: rgba(181, 28, 28, 0.59);
}
#respond h3 {
    margin: 0;
    padding: 0;
    display: block;
    line-height: normal;
    border-left: 3px solid #ED1B2F;
    padding-left: 5px;
    position: relative;
    margin-bottom: 20px;
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
}
.inner .comment-body,
.comment-respond {
    position: relative;
    padding: 20px 10px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
}
.logged-in-as {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 700;
}
.comment-author img {
    margin-right: 10px;
}
.comment-metadata>a {
    position: absolute;
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    top: 20px;
    right: 10px;
}
.comment-metadata .edit-link {
    position: absolute;
    right: 70px;
    bottom: 20px;
}
.comment-content {
    padding: 5px;
    background: #ffffff;
    color: #404040;
    font-size: 15px;
    line-height: 1.3;
    font-weight: 500;
    margin: 10px 0px;
    margin-left: 45px;
}
.comment-content p {
    margin-bottom: 0px;
}
.reply {
    text-align: right;
}
/*==================Inner Page Comment Close=========*/
/*==================Inner Page Side Bar Section Open=========*/

.widget-area ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.widget-area li {
    color: #000000;
    font-size: 14px;
    line-height: normal;
    padding: 10px 0px;
    display: block;
    border-bottom: 1px solid #eee;
    text-transform: capitalize;
}
.widget-area li.menu-item-has-children>a {
    padding: 10px 0px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    display: block;
}
.widget-area li.menu-item-has-children:hover>a {
    border-bottom: 1px solid #ED1B2F;
}
.widget-area li.menu-item-has-children {
    border-bottom: 0px solid #eee !important;
    padding: 0px;
}
.widget-area li a {
    color: #404040;
}
.widget-area ul.menu>li:hover {
    border-bottom: 1px solid #ED1B2F;
}
.widget-area ul.sub-menu {
    padding-left: 5px;
    text-transform: capitalize;
}
.widget-area ul.sub-menu>li a {
    color: #404040 !important;
}
.widget-area ul.sub-menu>li:hover a {
    color: #ED1B2F !important;
}
.widget-area ul.menu>li:hover>a {
    color: #ED1B2F;
}
.widget-area li:last-child {
    border-bottom: none;
}
/*==================Inner Page Side Bar Section Close=========*/
/*==================Inner Page Css Section Open=========*/

.inner .combine {
    padding-bottom: 0px;
}
.inner .archive_image {
    line-height: 0;
}
.inner .arcive_title a {
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}
.inner .arcivce_date_auther {
    color: #848282;
    font-weight: 600;
    font-size: 12px;
}
.inner .arcive_content {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 5px;
}
.posted-on a {
    color: #848282;
}
.entry-header h1.entry-title a,
.collection .page-header h1,
h1.widget-title {
    margin: 0px;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    line-height: normal;
    border-left: 3px solid #ED1B2F;
    padding-left: 5px;
    position: relative;
    margin-bottom: 20px;
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
}
.entry-content p {
    font-size: 15px !important;
    line-height: 1.6;
    margin-bottom: 10px;
}
.entry-header {
    position: relative;
}
.entry-meta {
    color: #848282;
    font-size: 12px;
    font-weight: 600;
}
.entry-footer {
    background: #ffffff;
    margin-top: 5px;
    display: block;
    color: #848484;
    font-weight: 600;
    font-size: 12px;
    text-align: right;
}
.entry-footer a {
    margin-left: 10px;
    color: #ED1B2F;
    font-weight: 600;
    text-transform: uppercase;
}
.entry-footer a:hover {
    color: #000000 !important;
}
.inner .collection h1 {
    margin: 0px;
}
.inner .collection article {
    padding: 0px;
    margin: 0px;
}
.inner .portfolio_slider_image img {
    width: 100%;
}
.port_slide {
    position: relative;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.port_slide #slider-prev,
.port_slide #slider-next {
    position: absolute;
    top: 45%;
    display: inline-block;
    height: 60px;
    width: 60px;
    background: #e41b2f;
    line-height: 0px;
    padding: 30px 0px;
    text-align: center;
    overflow: hidden;
}
.port_slide #slider-prev:hover,
.port_slide #slider-next:hover {
    background: rgba(228, 27, 47, 0.68)
}
.port_slide #slider-prev {
    left: 15px;
}
.port_slide #slider-next {
    right: 15px;
}
.port_slide #slider-prev a,
.port_slide #slider-next a {
    color: #ffffff;
}
.port_slide #slider-prev a:before,
.port_slide #slider-next a:before {
    content: "\f053";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ffffff;
    font-size: 25px;
    padding: 0px;
    height: 60px;
    width: 60px;
    display: inline-block;
    line-height: 0px;
}
.port_slide #slider-next a:before {
    content: "\f054";
}
/*==================Inner Page Css Section Close=========*/
/*=================404 Page Not Found ===============*/

.error-404 {
    text-align: center;
    min-height: 400px;
}
.error-404 .page-header {
    border-left: 0;
}
.number404 {
    font-size: 50px;
    background: #353F47;
    color: #FFF;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    line-height: 150px;
    text-align: center;
    color: #FFF;
    position: relative;
    display: inline-block;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px #999;
    -webkit-animation: rotate linear 4s infinite;
    animation: rotate linear 4s infinite;
    -webkit-perspective: 500px;
    /* Chrome, Safari, Opera  */
    
    perspective: 500px;
    margin-top: 40px;
}
.number404 span {
    font-size: 14px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30px;
    line-height: 16px;
    left: 0;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    /* Chrome, Safari, Opera */
    
    backface-visibility: visible;
}
.slider_content p{
    font-size:27px; 
}
.slider_content_inner{
    font-size:33px;
    color:#000; 
}
.site-info{
    line-height:33px;   
}
.read_more{
    margin-top:5px; 
}

/*===============================RESPONSIVE STYLE STARTS FROM HERE=================*/
@media (max-width: 1024px) and (min-width: 1100px) {
    .portfolio_main .portfolio_content a {
        padding: 0px;
    }
}
@media (max-width: 1100px) {
    .ak-container2, .ak-container{
        width: 100%;
        padding: 0 20px;
        overflow: hidden;
        margin:0;
    }
    .main-navigation{
        padding-right:25px; 
    }
}
@media (max-width: 1000px) {
    .footer_widget_view .contact_title{
        font-size:45px !important;  
    }
}
@media (max-width: 980px) { 
    .slider_area .gaga_lite_slider .bx-controls.bx-has-pager{
        width:100%; 
    }
    .slider_area .gaga_lite_slider .bx-pager.bx-default-pager{
        right:3%;   
    }
}
@media (max-width: 960px) {
    .ak-container,
    .ak-container2,
    .slider_area .gaga_lite_slider .bx-pager.bx-default-pager,
    .slider_area .gaga_lite_slider .bx-controls.bx-has-pager {
        width: 100%;
        padding: 0 20px;
        overflow: hidden;
    }
    
    .main-nav-scrolled .ak-container {
        width: 100%;
    }
    .inner_header {
        height: 100px;
    }
}
@media (min-width: 880px) {
.footer_widget_view .contact_title{
        font-size:40px !important;  
    }
}
@media (min-width: 821px) {
    .responsive_nav {
        display: none;
    }
}
@media (max-width: 820px) {
    .site-header .ak-container {
        overflow: visible;
    }
    
    .header_logo {
        position: static !important;
        display: inline-block;
        float: left;
        width:20%;
    }
    .site-header .ak-container .header_logo{
        width:20%;  
    }
    #toggle {
        display: block;
        float: right;
        width: 50px;
        height: 50px;
        margin: 10px auto;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
        position:absolute;
        right:0;
    }
    #toggle.on div {
        background: #000000;
    }
    #toggle div {
        width: 100%;
        height: 5px;
        background: #ec1b2e;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden;
    }
    #toggle.on div {
        background: #000000;
    }
    #toggle.on .one {
        transform: none;
    }
    #toggle.on .two {
        opacity: 1;
    }
    #toggle.on .three {
        transform: none;
    }
    
     #toggle .one {
        transform: rotate(45deg) translate(5px, 5px);
    }
    #toggle .two {
        opacity: 0;
    }
    #toggle .three {
        transform: rotate(-45deg) translate(7px, -8px);
    }
    #menu {
        text-align: center;
        margin: auto;
        display: none;
        width:auto;
    }
    .innerr_header,
    .top_inner_header {
        padding: 0px 0px;
    }
    .main-navigation ul {
        display: inline-block;
        max-width: 100%;
        width: auto !important;
    }
    .main-navigation {
        display: block;
        width: 100%;
    }
    .blog_main_post {
        float: none;
        display: block;
        width: 100%;
        margin-bottom: 50px;
    }
    .blog_latest_post {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .blog-posts-wrap-latest {
        float: left;
        width: 50%;
        padding: 0px 15px;
    }
    a.view_all_latest {
        float: none;
    }
    .prog {
        padding-top: 15px;
    }
    .portfolio-post-wrap {
        width: 50%;
        padding: 15px 15px;
    }
    .portfolio-post-wrap:last-child {
        padding-bottom: 100px;
    }
    .slider_area .gaga_lite_slider .slider_capation {
        bottom: 20px;
        left: 0px;
        text-align: right;
        width: 100%;
    }
    .slider_area .gaga_lite_slider span.next-page {
        left: 5%;
    }
   
    .inner {
        margin-top: 30px;
    }
    .inner .arcive_title a {
        margin-top: 20px;
    }
    .inner_header {
        height: 100px;
    }
    
}
@media (max-width: 750px) {
    .blog_latest_post h2,
    .blog_sectio_title h2 {
        text-align: left !important;
        margin-bottom: 10px;
    }
    #plx_about_section {
        padding: 40px;
    }
    h2.about_section_title,
    .service_section_title h2,
    .team_section h2,
    .blog_sectio_title h2,
    .blog_latest_post h2,
    .portfolio_section h2,
    .skill_section_title h2,
    .client_section_title h2,
    .pricing_section h2,
    .cta_section_title h2,
    .testimonial-title h2 {
        font-size: 40px !important;
    }
    .slider_area .gaga_lite_slider .slider_capation {
        bottom: 5px;
        left: 0px;
        text-align: right;
        width: 100%;
    }
    .slider_area .gaga_lite_slider span.next-page {
        display: none;
    }
    
    #plx_about_section .combine,
    #plx_about_section .combine_content {
        float: none;
        width: 100%;
        padding: 10px 5px;
    }
    #plx_about_section .combine_content .about-contents {
        font-size: 16px;
        line-height: 20px;
    }
    #plx_service_section .service-posts-wrap .service_image,
    #plx_service_section .service-posts:before {
        display: none;
    }
    #plx_service_section .service-posts-wrap .service_title,
    #plx_service_section .service-posts-wrap .services-excerpt-content {
        width: 100%;
        padding: 0px 5px;
    }
    #plx_service_section .service-posts-wrap:nth-child(even) .service_title,
    #plx_service_section .service-posts-wrap:nth-child(even) .services-excerpt-content {
        padding: 0px 5px;
    }
    .prog,
    .widget_gaga_lite_pricing {
        width: 50%;
    }
    .widget_gaga_lite_pricing {
        width: 50%;
        margin-bottom:30px;
    }
    .widget_gaga_lite_pricing:nth-child(3) {
        clear: both;
    }
    /*    .widget_gaga_lite_pricing:before,
        .widget_gaga_lite_pricing:after{
            content: "";
            display: table;
        }
    
        .widget_gaga_lite_pricing:after,
        .widget_gaga_lite_pricing:after{
            clear: both;
        }*/
    
    portfolio .blog_main_post,
    .blog_latest_post,
    .footer_1,
    .footer_2,
    .footer_3 {
        display: block;
        float: none;
        width: 100%;
        margin-bottom:20px;
    }
    .site-footer {
        margin: 30px -15px;
    }
    .content-area {
        float: none;
        width: 100%;
    }
    .content-area-both {
        float: none;
        width: 100%;
        padding: 0px 5px;
        position: relative;
        left: 0%;
    }
    .widget-area {
        float: none;
        width: 100%;
        right: 0;
        padding: 0px 5px;
    }
    .port_slide {
        padding: 0px 5px;
    }
    .widget-area-left {
        float: none;
        width: 100%;
    }
    .widget-area-left-both {
        float: none;
        width: 100%;
        right: 0;
    }
    .widget-area-right {
        float: none;
        width: 100%;
    }
    .widget-area-right-both {
        float: none;
        width: 100%;
    }
    .widget-area aside {
        float: none;
        width: 100%;
    }
    .inner_header>h1,
    .page-header>h1.page-title {
        font-size: 28px !important;
        line-height: 1;
    }
    .main-navigation ul>li a {
        font-size: 14px;
        text-transform: capitalize;
    }
    .inner {
        margin: 0;
        margin-top: 25px;
    }
    .inner_header {
        height: 90px;
    }
    .social_link_footer{
        width:100%;
        float:none;
        text-align:center;  
    }
    .site-info{
        text-align:center;  
    }
    /*slider css*/
    .slider_area .gaga_lite_slider .slider_capation .slider_title{
        font-size:39px;
        line-height:45px;   
    }
    .slider_content p{
        font-size:24px; 
    }
    .slider_content_inner {
    font-size: 29px;
    line-height: 40px;
    }
    
}
@media (max-width: 655px) {
    #menu {
        position: static;
        width: 100%;
    }
    .main-nav-scrolled {
        position: fixed;
    }
    .site-header .ak-container .header_logo{
        width:50%;
    }
    .main-navigation ul {
        display: block;
        text-align: center;
        background: #eee;
        padding: 5px 0px;
    }
    .main-navigation {
        padding-top: 5px;
        padding-right:0;
        padding-bottom: 0;
    }
    .main-navigation ul>li {
        float: none;
        display: block;
    }
    .main-navigation ul>li a {
        font-size: 18px;
        line-height: 24px;
    }
    .main-navigation .nav {
        float: none;
    }
    .main-navigation .menu-menu-1-container {
        float: none;
    }
    .inner {
        margin-top: 20px;
    }
    .inner .arcive_title a {
        margin-top: 15px;
    }
    .slider_area .gaga_lite_slider .slider_capation .slider_title{
            font-size: 35px;
    line-height: 40px;  
    }
    .slider_area .gaga_lite_slider .slider_capation{
        bottom:30px;    
    }
    .site-header .ak-container{
        padding:0;  
    }
    .site-header .ak-container .header_logo{
        padding-left:20px;  
    }
    h2.about_section_title, .service_section_title h2, .team_section h2, .blog_sectio_title h2, .blog_latest_post h2, .portfolio_section h2, .skill_section_title h2, .client_section_title h2, .pricing_section h2, .cta_section_title h2, .testimonial-title h2{
        font-size:30px !important;  
    }
}
@media (max-width: 550px) {
    .site-header {
        position: static !important;
        background: #ffffff;
    }
    
    .service_section,
    .team_section,
    .skill_section,
    .blog_section,
    .portfolio_section,
    #plx_client_section,
    .pricing_section,
    #plx_cta_section,
    .testimonial_view {
        padding: 35px 0px;
        margin: 0px;
    }
    #plx_service_section,
    #plx_about_section,
    #plx_portfolio_section,
    #plx_team_section,
    #plx_client_section,
    #plx_blog_section,
    #plx_testimonial_section,
    #plx_pricing_section,
    #plx_skill_section,
    #inner_header,
    #plx_cta_section {
        background-attachment: fixed !important;
    }
    #plx_service_section .service-posts {
        margin-bottom: 20px;
        margin-top: 10px
    }
    .team_title {
        margin-bottom: 15px;
    }
    .team_section .team-descr {
        margin: 15px 0px;
    }
    #plx_service_section .service-posts-wrap {
        float: none;
        width: 100%;
        border-right: none !important;
        border-bottom: 1px solid #d61333 !important;
        padding: 10px 0px;
    }
    .blog-posts-wrap-latest {
        display: none;
    }
    .blog-posts-wrap-latest:first-child,
    .bxslider_testimonial .slider_content {
        display: block;
        width: 100%;
        float: none;
    }
    .prog {
        width: 100%;
        float: none;
        padding-top: 10px;
    }
    .testimonial-title h2 {
        margin-bottom: 20px;
    }
    .bxslider_testimonial .image_title {
        position: static;
        display: inline-block;
        width: 50%;
    }
    .portfolio-post-wrap {
        width: 100%;
        padding: 10px;
    }
    .client_section_title {
        margin-bottom: 10px;
    }
    .pricing_widget.clearfix {
        margin-top: 10px;
    }
    .percent span {
        font-size: 18px;
        line-height: 1.8;
    }
    .site-footer {
        margin: 20px -15px;
    }
    .footer_widget_view .contact_title {
        margin-bottom: 5px;
        line-height: 1 !important;
        text-transform: capitalize;
    }
    .wpcf7 form p {
        margin: 0px 0px 5px 0px;
    }
    input.wpcf7-submit {
        width: 100% !important;
        margin: 0px;
        line-height: 2 !important;
    }
    .inner_header>h1,
    .page-header>h1.page-title {
        font-size: 24px !important;
    }
    .entry-meta {
        position: static;
    }
    .page-content,
    .entry-content,
    .entry-summary {
        margin: 0.5em 0 0;
    }
    #respond .comment-form-author input,
    #respond .comment-form-email input,
    #respond input,
    .inner #respond textarea {
        width: 100%;
    }
    .inner {
        margin-top: 15px;
    }
    .inner .arcive_title a {
        margin-top: 10px;
    }
    .inner_header {
        height: 70px;
    }
    .slider_area .gaga_lite_slider .slider_capation .slider_title{
        font-size: 29px;
    line-height: 34px;
    }
    .slider_content p {
    font-size: 21px;
}
.slider_content_inner {
    font-size: 24px;
    line-height: 28px;
}
}
@media (max-width: 400px) {
    .site-header .ak-container .header_logo{
        width:60%;  
    }
    .widget_gaga_lite_pricing {
        width: 100%;
        margin-bottom: 10px;
    }
    .widget_gaga_lite_pricing:nth-child(3) {
        clear: left;
    }
    .contact_aside {
        float: none;
        width: 100%;
    }
    .contact_desc {
        margin-bottom: 5px;
    }
    .widget-area aside {
        float: none;
        width: 100%;
        padding: 0px 5px;
    }
    .inner {
        margin-top: 10px;
    }
    .slider_area .gaga_lite_slider .slider_capation .slider_title{
        font-size: 17px;
    line-height: 20px;
    }
    .slider_content p {
    font-size: 15px;
}
.slider_content_inner {
    font-size: 13px;
    line-height: 16px;
}
}