/* Mobile Portrait View */

@media screen and (max-width:479px) {

*{box-sizing:border-box;}
#slider .top-bar { padding:0 20px; top:35px;}
#slider .top-bar h1 { font-size:25px; padding-bottom:25px;}
#slider .top-bar a{ font-size:14px; padding:8px 20px; margin-top:0; width:auto;}
.arrow-down { display:none;}
.container { width:auto; padding:0 20px;}
.header { width:auto; padding:0 20px;}
.logo { float:none; text-align:center;}
.header .header-inner .nav ul{ float:none !important;}
.sub-menu ul li{ margin-left:15px !important;}
#services-box { width:auto; display:block; margin-bottom:20px; padding:20px;}
.banner-bg { padding:49px 0;}
.contact-banner h3 { font-size:20px; padding-bottom:30px;}
.contact-banner a.contact-button{ width:auto; padding:10px 20px; margin-top:0; font-size:15px;}
.news-box { width:auto; display:block; margin-bottom:30px; float:none;}
.last{ float:none !important;}
.news { padding-bottom:5%;}
.news img { margin:0 0 20px 0; padding:0; float:none; min-width:100%; height:100%;}
.more { margin:30px auto 10px auto; display:block;}
.testimonial-box { width:auto; display:block; margin-bottom:30px; margin-right:0;}
.testimonial-box img { min-width:100%; height:100%;}
.testimonial-post { width:auto;}
#some-facts { margin:0;}
#some-facts li { display:block; margin:0 auto 30px;}
.skill { width:auto; float:none; margin-bottom:50px;}
.team-members { width:auto; float:none;}
.team-col { width:auto; display:block; float:none; margin-left:0;}
.team-col img { min-width:100%; height:100%;}
.signup-newsletter { padding:20px;}
.newsletter { width:auto; float:none; background:none; border-bottom:#1d1d1d solid 1px; padding-bottom:20px; margin-bottom:20px;}
.newsletter-form { width:auto; float:none; padding-right:0;}
.newsletter-form input[type="text"], .newsletter-form input[type="email"] { width:100%; float:none; margin:0 0 10px 0;}
.newsletter-form input[type="submit"] { width:100%;}
.sicons { width:auto;}
.footer, .copyright { width:auto; padding:0 20px;}
.footer-col-1, .footer-col-2 { width:auto; float:none; margin-right:0;}
.footer-col-3 { width:auto; float:none;}
.copyright-txt, .design-by { text-align:center; float:none;}
.top-bar{ top:3px !important;}
.top-bar h1{font-weight:900;  font-size:15px; padding:0 0 3px 0; text-align:center; text-transform:uppercase; line-height:19px}
.top-bar p{ color:#ffffff; font-weight:normal; font-size:16px; margin:0 0 7px 0; line-height:24px; text-align:center; display:none;}
.top-bar a, .contact-banner a{ font:700 15px 'Roboto', sans-serif; padding:10px 40px; margin-top:0; text-transform:uppercase; display:inline-block; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; color:#ffffff;}
.nivo-directionNav a{ z-index:99 !important; top:40% !important;}

/* ------ Extra ------ */
.one_half{ width:100% !important;}
.message-thumb{ width:100%; height:inherit !important}
.photobooth .filter-gallery{ width:auto;}
.photobooth .gallery ul li{ width:100%;}
.toggle{display:block;}
.toggle a{width:100%; color:#ffffff; background:url(../images/mobile_nav_right.png) no-repeat right center #3e3e3e; padding:10px 10px; margin-top:20px; font-size:16px;}
.toggle a.active, .toggle a:hover{color:#ffffff;}
.nav{display:none;}
.header .header-inner .nav{float:none; margin:0; position:relative; overflow-x:hidden; }
.nav ul{background:#e6e6e6; color:#000; width:100%;}
.header .header-inner .nav ul li{border-top:1px #cccccc solid; display:block; float:none; text-align:left;}
.header .header-inner .nav ul li a{padding:5px 10px !important; display:block; color:#3e3e3e;}
.nav ul li a:hover{color:#00a8ff;}
.nav ul li ul li a:before{content:"\00BB \00a0";}
.nav ul li ul li a{padding-left:10px;}
.nav ul li ul li ul li a{padding-left:20px;}
.header .header-inner{ width:100%; padding:15px 0;}
.header .header-inner .logo{ float:none;}
#supersized, #supersized li img{ top:0 !important;}
#slider{ height:150px;}
a.arrow-down, #slider .top-bar p{ display:none;}
#prevslide, #nextslide{ top:0;}
.client_banner .client { display: block; margin: 0 auto 10px !important; width: 270px;}

/* --------------------------- SOCIAL ICONS --------------------*/
.social-icons{ margin:0; padding:0; text-align:center;}
.icon{ width:58px; height:58px; border-radius:30px; -moz-border-radius:30px; -o-border-radius:30px; -webkit-border-radius:30px; display:inline-block; margin:0 7px 7px; background-repeat: no-repeat; background-position:center center; transition:0.6s; -moz-transition:0.6s; -webkit-transition:0.6s; -o-transition:0.6s;}
.facebook{background-image:url(../images/social-icons/fb-icon.png);}
.twitt{background-image:url(../images/social-icons/twitt-icon.png);}
.gplus{background-image:url(../images/social-icons/gplus-icon.png);}
.linked{background-image:url(../images/social-icons/linkedin-icon.png);}
.pinterest{background-image:url(../images/social-icons/pinterest-icon.png);}
.youtube{background-image:url(../images/social-icons/y-tube-icon.png);}
.vimeo{background-image:url(../images/social-icons/vimeo-icon.png);}
.rss{background-image:url(../images/social-icons/rss-icon.png);}
.instagram{background-image:url(../images/social-icons/instagram-icon.png);}
.tumblr{background-image:url(../images/social-icons/tumblr-icon.png);}
.flickr{background-image:url(../images/social-icons/flickr-icon.png);}
.yahoo{background-image:url(../images/social-icons/yahoo-icon.png);}
.dribble{background-image:url(../images/social-icons/dribble-icon.png);}
.kick{background-image:url(../images/social-icons/kickstarter-icon.png);}
.stumble{background-image:url(../images/social-icons/stumbleupon-icon.png);}
.zerply{background-image:url(../images/social-icons/zerply-icon.png);}
.sound{background-image:url(../images/social-icons/soundcloud-icon.png);}
.path{background-image:url(../images/social-icons/path-icon.png);}
.klout{background-image:url(../images/social-icons/klout-icon.png);}
.behance{background-image:url(../images/social-icons/behance-icon.png);}
.envato{background-image:url(../images/social-icons/envato-icon.png);}
.codepen{background-image:url(../images/social-icons/codepen-icon.png);}
.vine{background-image:url(../images/social-icons/vine-icon.png);}
.technorati{background-image:url(../images/social-icons/technorati-icon.png);}
.github{background-image:url(../images/social-icons/github-icon.png);}
.foursquare{background-image:url(../images/social-icons/foursquare-icon.png);}
.five{background-image:url(../images/social-icons/fivehundred-icon.png);}
.speaker{background-image:url(../images/social-icons/speakerdeck-icon.png);}
.wordpress{background-image:url(../images/social-icons/wordpress-icon.png);}
.yelp{background-image:url(../images/social-icons/yelp-icon.png);}

/* --------- Pages ------- */
.content-area{ width:auto; margin:0 20px; padding:50px 0;}
.site-main{ width:auto; margin:0; padding:0; float:none;}
#sidebar{ width:auto; margin:60px 0 0; padding:0; float:none;}

}

/* Mobile Landscape View */

@media screen and (max-width:719px) and (min-width:480px) { 

*{box-sizing:border-box;}
#slider .top-bar { padding:0 20px; top:60px;}
#slider .top-bar h1 { font-size:30px; padding-bottom:5px;}
#slider .top-bar a{ font-size:18px; padding:8px 20px; margin-top:20px;}
.arrow-down { display:none;}
.container { width:auto; padding:0 20px;}
.header { width:auto; padding:0 20px;}
.logo { float:none; text-align:center;}
#services-box { width:auto; display:block; margin-bottom:20px; padding:20px;}
.banner-bg { padding:49px 0;}
.header .header-inner .nav ul{ float:none !important;}
.sub-menu ul li{ margin-left:15px !important;}
.contact-banner h3 { font-size:20px; padding-bottom:30px;}
.contact-banner a.contact-button{ width:auto; padding:10px 20px; margin-top:0; font-size:18px;}
.news-box { width:auto; display:block; margin-bottom:30px; float:none;}
.last{ float:none !important;}
.news { padding-bottom:5%;}
.news img { margin:0 0 20px 0; padding:0; float:none; min-width:100%; height:100%;}
.more { margin:30px auto 10px auto; display:block;}
.testimonial-box { width:auto; display:block; margin-bottom:30px; margin-right:0;}
.testimonial-post { width:64%;}
#some-facts { margin:0;}
#some-facts li { display:block; margin:0 auto 30px;}
.skill { width:auto; float:none; margin-bottom:50px;}
.team-members { width:auto; float:none;}
.team-col { width:auto; display:block; float:none; margin-left:0;}
.team-col img { min-width:100%; height:100%;}
.signup-newsletter { padding:20px;}
.newsletter { width:auto; float:none; background:none; border-bottom:#1d1d1d solid 1px; padding-bottom:20px; margin-bottom:20px;}
.newsletter-form { width:auto; float:none; padding-right:0;}
.newsletter-form input[type="text"], .newsletter-form input[type="email"] { width:100%; float:none; margin:0 0 10px 0;}
.newsletter-form input[type="submit"] { width:100%;}
.sicons { width:auto;}
.footer, .copyright { width:auto; padding:0 20px;}
.footer-col-1, .footer-col-2 { width:auto; float:none; margin-right:0;}
.footer-col-3 { width:auto; float:none;}
.copyright-txt, .design-by { text-align:center; float:none;}
.top-bar{ top:35px !important;}
.top-bar h1{font-weight:900;  font-size:20px; padding:0 0 10px 0; text-align:center; text-transform:uppercase; line-height:21px;}
.top-bar p{ color:#ffffff; font-weight:normal; font-size:16px; margin:0 0 7px 0; line-height:24px; text-align:center;}
.top-bar a, .contact-banner a{ font:700 15px 'Roboto', sans-serif; padding:10px 40px; margin-top:0; text-transform:uppercase; display:inline-block; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; color:#ffffff;}
.nivo-directionNav a{ z-index:99 !important; top:40% !important;}

/* ------ Extra ------ */
.one_half{ width:100% !important;}
.message-thumb{ width:100%; height:inherit !important}
.photobooth .filter-gallery{ width:auto;}
.photobooth .gallery ul li{ width:100%;}
.toggle{display:block;}
.toggle a{width:100%; color:#ffffff; background:url(../images/mobile_nav_right.png) no-repeat right center #3e3e3e; padding:10px 10px; margin-top:20px; font-size:16px;}
.toggle a.active, .toggle a:hover{color:#ffffff;}
.nav{display:none;}
.header .header-inner .nav{float:none; margin:0; position:relative; overflow-x:hidden; }
.nav ul{background:#e6e6e6; color:#000; width:100%;}
.header .header-inner .nav ul li{border-top:1px #cccccc solid; display:block; float:none; text-align:left;}
.header .header-inner .nav ul li a{padding:5px 10px !important; display:block; color:#3e3e3e;}
.nav ul li a:hover{color:#00a8ff;}
.nav ul li ul li a:before{content:"\00BB \00a0";}
.nav ul li ul li a{padding-left:10px;}
.nav ul li ul li ul li a{padding-left:20px;}
.header .header-inner{ width:100%; padding:15px 0;}
.header .header-inner .logo{ float:none;}
#supersized, #supersized li img{ top:0 !important;}
#slider{ height:226px;}
a.arrow-down, #slider .top-bar p{ display:none;}
#prevslide, #nextslide{ top:0;}
.client_banner .client{ margin: 0 15px 10px 0 !important; width: 46%;}

/* --------------------------- SOCIAL ICONS --------------------*/
.social-icons{ margin:0; padding:0; text-align:center;}
.icon{ width:58px; height:58px; border-radius:30px; -moz-border-radius:30px; -o-border-radius:30px; -webkit-border-radius:30px; display:inline-block; margin:0 7px 7px; background-repeat: no-repeat; background-position:center center; transition:0.6s; -moz-transition:0.6s; -webkit-transition:0.6s; -o-transition:0.6s;}
.facebook{background-image:url(../images/social-icons/fb-icon.png);}
.twitt{background-image:url(../images/social-icons/twitt-icon.png);}
.gplus{background-image:url(../images/social-icons/gplus-icon.png);}
.linked{background-image:url(../images/social-icons/linkedin-icon.png);}
.pinterest{background-image:url(../images/social-icons/pinterest-icon.png);}
.youtube{background-image:url(../images/social-icons/y-tube-icon.png);}
.vimeo{background-image:url(../images/social-icons/vimeo-icon.png);}
.rss{background-image:url(../images/social-icons/rss-icon.png);}
.instagram{background-image:url(../images/social-icons/instagram-icon.png);}
.tumblr{background-image:url(../images/social-icons/tumblr-icon.png);}
.flickr{background-image:url(../images/social-icons/flickr-icon.png);}
.yahoo{background-image:url(../images/social-icons/yahoo-icon.png);}
.dribble{background-image:url(../images/social-icons/dribble-icon.png);}
.kick{background-image:url(../images/social-icons/kickstarter-icon.png);}
.stumble{background-image:url(../images/social-icons/stumbleupon-icon.png);}
.zerply{background-image:url(../images/social-icons/zerply-icon.png);}
.sound{background-image:url(../images/social-icons/soundcloud-icon.png);}
.path{background-image:url(../images/social-icons/path-icon.png);}
.klout{background-image:url(../images/social-icons/klout-icon.png);}
.behance{background-image:url(../images/social-icons/behance-icon.png);}
.envato{background-image:url(../images/social-icons/envato-icon.png);}
.codepen{background-image:url(../images/social-icons/codepen-icon.png);}
.vine{background-image:url(../images/social-icons/vine-icon.png);}
.technorati{background-image:url(../images/social-icons/technorati-icon.png);}
.github{background-image:url(../images/social-icons/github-icon.png);}
.foursquare{background-image:url(../images/social-icons/foursquare-icon.png);}
.five{background-image:url(../images/social-icons/fivehundred-icon.png);}
.speaker{background-image:url(../images/social-icons/speakerdeck-icon.png);}
.wordpress{background-image:url(../images/social-icons/wordpress-icon.png);}
.yelp{background-image:url(../images/social-icons/yelp-icon.png);}

/* --------- Pages ------- */
.content-area{ width:auto; margin:0 20px; padding:50px 0;}
.site-main{ width:auto; margin:0; padding:0; float:none;}
#sidebar{ width:auto; margin:60px 0 0; padding:0; float:none;}

}


@media screen and (max-width:899px) and (min-width:320px) { 

section h1 { font-size:30px; line-height:45px;}
section h2 {
    font-size: 26px;
	line-height:30px;
}


}


/* Tablet View */

@media screen and (max-width:979px) and (min-width:720px) { 

*{box-sizing:border-box;}
#slider .top-bar { padding:0; top:45px;}
#slider .top-bar a{ margin-top:20px;}
a.arrow-down{ bottom:14px;}
.arrow-down { bottom:20px;}
.container { width:auto; padding:0 20px;}
.header { width:auto; padding:0 20px;}
#services-box { width:49.60%; display:inline-block; margin-bottom:20px; padding:20px;}
.banner-bg { padding:49px 0;}
.contact-banner h3 { font-size:20px; padding-bottom:30px;}
.contact-banner a{ width:auto;}
.news-box {display: inline-block;margin-bottom: 30px;width: 23%;}
.news-box img { width:100%;}
.news h2{ font-size:14px;}
.header .header-inner .nav ul{ float:none !important;}
.sub-menu ul li{ margin-left:15px !important;}
.more { margin:30px auto 10px auto; display:block;}
.testimonial-box { width:auto; display:block; margin-bottom:30px; margin-right:0;}
.testimonial-post { width:77%;  padding:26px 35px;}
#some-facts { margin:auto; width:650px;}
#some-facts li { width:150px; height:150px; display:inline-block; margin:0 6px;}
.skill { width:auto; float:none; margin-bottom:50px;}
.team-members { width:auto; float:none;}
.team-col { width:44.69%; float:left; margin:0 18px 40px;}
.team-col img { min-width:100%; height:100%;}
#signup-newsletter { padding:20px;}
.newsletter { width:auto; float:none; background:none; border-bottom:#1d1d1d solid 1px; padding-bottom:20px; margin-bottom:20px; text-align:center;}
.newsletter h2 { text-align:center;}
.newsletter-form { width:auto; float:none; padding-right:0;}
.newsletter-form input[type="text"], .newsletter-form input[type="email"] { width:38%; float:left;}
.newsletter-form input[type="submit"] { width:auto;}
.sicons { width:94%; margin:auto;}
.footer, .copyright { width:auto; padding:0 20px;}
.footer-col-1 { margin:0 30px 50px 0;}
.footer-col-1 h2 { font-size:17px;}
.footer-col-3 h2 { font-size:25px;}

/* ------ Extra ------ */

.one_half{ width:100%;}
.message-thumb{ width:100%; height:inherit !important}
.photobooth .filter-gallery{ width:auto;}
.photobooth .gallery ul li{ width:48%;}
.toggle{display:block;}
.toggle a{width:100%; color:#ffffff; background:url(../images/mobile_nav_right.png) no-repeat right center #3e3e3e; padding:10px 10px; margin-top:20px; font-size:16px;}
.toggle a.active, .toggle a:hover{color:#ffffff;}
.nav{display:none;}
.header .header-inner .nav{float:none; margin:0; position:relative; overflow-x:hidden; }
.nav ul{background:#e6e6e6; color:#000; width:100%;}
.header .header-inner .nav ul li{border-top:1px #cccccc solid; display:block; float:none; text-align:left;}
.nav ul li a{padding:5px 10px !important; display:block; color:#3e3e3e;}
.nav ul li a:hover{color:#00a8ff;}
.nav ul li ul li a:before{content:"\00BB \00a0";}
.nav ul li ul li a{padding-left:10px;}
.nav ul li ul li ul li a{padding-left:20px;}
.header .header-inner{ width:100%; padding:15px 0;}
.header .header-inner .logo{ float:none; text-align:center;}
#supersized, #supersized li img{ top:0 !important;}
#slider{ height:338px;}
#prevslide, #nextslide{ top:-150px;}
.client_banner .client {margin-right: 32px !important;width: 15%;}

/* --------------------------- SOCIAL ICONS --------------------*/
.social-icons{ margin:0; padding:0; text-align:center;}
.icon{ width:58px; height:58px; border-radius:30px; -moz-border-radius:30px; -o-border-radius:30px; -webkit-border-radius:30px; display:inline-block; margin:0 7px 7px; background-repeat: no-repeat; background-position:center center; transition:0.6s; -moz-transition:0.6s; -webkit-transition:0.6s; -o-transition:0.6s;}
.facebook{background-image:url(../images/social-icons/fb-icon.png);}
.twitt{background-image:url(../images/social-icons/twitt-icon.png);}
.gplus{background-image:url(../images/social-icons/gplus-icon.png);}
.linked{background-image:url(../images/social-icons/linkedin-icon.png);}
.pinterest{background-image:url(../images/social-icons/pinterest-icon.png);}
.youtube{background-image:url(../images/social-icons/y-tube-icon.png);}
.vimeo{background-image:url(../images/social-icons/vimeo-icon.png);}
.rss{background-image:url(../images/social-icons/rss-icon.png);}
.instagram{background-image:url(../images/social-icons/instagram-icon.png);}
.tumblr{background-image:url(../images/social-icons/tumblr-icon.png);}
.flickr{background-image:url(../images/social-icons/flickr-icon.png);}
.yahoo{background-image:url(../images/social-icons/yahoo-icon.png);}
.dribble{background-image:url(../images/social-icons/dribble-icon.png);}
.kick{background-image:url(../images/social-icons/kickstarter-icon.png);}
.stumble{background-image:url(../images/social-icons/stumbleupon-icon.png);}
.zerply{background-image:url(../images/social-icons/zerply-icon.png);}
.sound{background-image:url(../images/social-icons/soundcloud-icon.png);}
.path{background-image:url(../images/social-icons/path-icon.png);}
.klout{background-image:url(../images/social-icons/klout-icon.png);}
.behance{background-image:url(../images/social-icons/behance-icon.png);}
.envato{background-image:url(../images/social-icons/envato-icon.png);}
.codepen{background-image:url(../images/social-icons/codepen-icon.png);}
.vine{background-image:url(../images/social-icons/vine-icon.png);}
.technorati{background-image:url(../images/social-icons/technorati-icon.png);}
.github{background-image:url(../images/social-icons/github-icon.png);}
.foursquare{background-image:url(../images/social-icons/foursquare-icon.png);}
.five{background-image:url(../images/social-icons/fivehundred-icon.png);}
.speaker{background-image:url(../images/social-icons/speakerdeck-icon.png);}
.wordpress{background-image:url(../images/social-icons/wordpress-icon.png);}
.yelp{background-image:url(../images/social-icons/yelp-icon.png);}

/* --------- Pages ------- */
.content-area{ width:auto; margin:0 20px; padding:50px 0;}
.site-main{ width:60%; margin:0; padding:0; float:left;}
#sidebar{ width:35%; margin:0; padding:0; float:right;}
.top-bar h1{ font-size:26px; line-height:33px;}
.top-bar{ top:43px;}

}

@media screen and (max-width:1159px) and (min-width:980px) { 

.header .header-inner, .container, .copyright, .footer{ width:auto; padding:0 20px; box-sizing:border-box;}
a.contact-button { width:auto;}
.client_banner .client{ display:inherit !important; float:left !important; margin:0 2.4% 10px 0 !important; width:17.7% !important;}
.client_banner .last{ margin-right:0 !important;}
.contact-button { margin-top:30px;}
.arrow-down { bottom:80px;}
.services-box { width:24.80%; display:inline-block; margin-bottom:20px; padding:20px;}
.services-box h2 { font-size:22px;}
.services-box .read-more { width:52%;}
.message-thumb { width:auto;}
.news-box { width:23%; display:inline-block; margin-bottom:30px;}
.news img { margin:0;}
.testimonial-box { width:48%; display:block; margin-bottom:30px;}
.testimonial-post { width:65%;}
#some-facts { width:82%; margin:auto;}
#some-facts li { display:inline-block; margin:0 13px;}
.skill { width:48%; float:left; margin-bottom:50px;}
.team-members { width:48%; float:right;}
.team-col { width:42%; float:left; margin:0 0 40px 35px;}
.team-col img { min-width:100%; height:100%;}
#signup-newsletter { padding:0;}
.newsletter { width:37%; float:left; background:url(../images/sepretor-arrow.png) no-repeat top right; border-bottom:none; padding:2% 0 2.3% 2%; margin-bottom:0; text-align:left;}
.newsletter h2 { text-align:left;}
.contact-banner h3 { font-size:28px; padding-bottom:30px;}
.newsletter-form { width:60%; float:right; padding-right:0;}
.newsletter-form input[type="text"], .newsletter-form input[type="email"] { width:35%; float:left;}
.newsletter-form input[type="submit"] { width:auto;}
.sicons { width:68%; margin:auto;}
.footer-col-1 { margin:0 45px 50px 0;}
.footer-col-1 h2 { font-size:20px;}
.footer-col-3 h2 { font-size:28px;}
.top-bar{ top:50px;}
#services-box { min-height:360px;}

}
